body
{
background-color: #C1BDBA;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 20px;
}
.Principal
{
    background-color: #24323D;
    width: 30vw;
    height: 67vh;
    border-radius: 5px;
    padding: 20px;
}
.contenedorForm
{
    display: flex;
    flex-direction: column;
}
.botonesForm
{
    display: flex;
    flex-direction: row;
}
.SignUp
{
    background-color: #1ab188;
    color: #F7FFFF;
    width: 300px;
    height: 50px;
    font-weight: bold;
    border:none;
    font-size: 15px;
}
.LogIn
{
    background-color: #435259;
    color: #F7FFFF;
    width: 300px;
    height: 50px;
    font-weight: bold;
    border:none;
    font-size: 15px;
}
.tituloForm
{
    color: #F7FFFF;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 30px;
}
.Form
{
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
}
.input-form
{
    background-color: #24323B;
    border: 1px solid #7A8891;
    color:#F7FFFF;
    width: 180px;
    height: 30px;
}
.Form1
{
    display:grid;
    align-items: center;
    padding-top: 30px;
}
.input-form1
{
    background-color: #24323B;
    border: 1px solid #7A8891;
    color:#F7FFFF;
    width: 405px;
    height: 30px;
}
.Form2
{
    display:grid;
    align-items: center;
    padding-top: 30px;
}
.input-form2
{
    background-color: #24323B;
    border: 1px solid #7A8891;
    color:#F7FFFF;
    width: 405px;
    height: 30px;
}
.boton
{  
    padding-top: 30px;
}
.GetStarted
{
    width: 409px;
    height: 70px;
    background-color: #1AB188;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    color:#F7FFFF;
    border:none;
}

